@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
     margin: 0;
     padding: 0;
     flex-wrap: wrap;
     box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}

.main-container {
     background-color: whitesmoke;
     padding: 2rem;
     width: 50%;
     border-radius: 1rem;
     margin: auto;
     flex-direction: column;
     display: flex;
     gap: 1rem;
     box-shadow: -5px 8px 16px 2px rgba(0, 0, 0, 0.20);
     position: relative;
     top: 5rem;
     justify-content: center;
     align-items: center;
}

.main-container .heading {
     width: 100%;
}

.input-field {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.input-field .input {
     padding: 1rem;
     border-radius: 0.5rem;
     width: 90%;
     background-color: rgb(245, 230, 213);
     border: 2px solid rgb(173, 19, 161);
     outline: none;
     cursor: not-allowed;
}

.input-field .reverse-icon{
     width: 8%;
     cursor: pointer;
     /* background-color: red ; */
     
}


.copy-text {
     width: 100%;
     display: flex;
     justify-content:space-between ;
     align-items: center;
     margin: auto;
     padding: 2rem 0;
}

.copy-button {
     outline: none;
     width: 30%;
     padding: 1rem;
     /* height: 5rem; */
     background-color: rgb(218, 53, 240);
     border-radius: 1rem;
     display: flex;
     border:2px solid transparent;
     transition: background-color 0.3s  ease-in;
     gap: 1.5rem;
     cursor: pointer;
     justify-content: center;
     align-items: center;
}

.copy-button p {
     font-size: 1.2rem;
     font-weight: bold;
     color: whitesmoke;
}
.copy-text button:hover{
     background-color: rgb(130, 16, 145);
}

.options{
     display: flex;
     gap: 2rem;
     width: 100%;
     /* background-color: orange; */
}

.options * {
     display: flex;
     justify-content: center;
     gap: 1rem;
     align-items: center;
}
.options label{
     font-size: 1.3rem;
     font-weight: 600;
}
.options  .checked{
     font-weight: bold;
     font-size: 1.4rem;
}

@media only screen and (max-width:900px){
     .copy-button{
          width:100%;
          margin-top: 2rem;
     }
     .main-container{
          width:70%;
     }
}

#range{
     cursor: pointer;
}

input::placeholder{
     font-size:1.2rem;
}